*.iml
.gradle
/local.properties
.DS_Store

/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/
build/
**/build/
generated/

.classpath
.project

.idea/

_sandbox

captures/

.kotlin
